---
import Layout from "../layouts/Layout.astro";
import ListProjects from "../components/portfolio/ListProjects.astro";
import Tools from "../components/portfolio/Tools.astro";
import Heading from "../components/ui/Heading.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import Button from "../components/ui/Button.astro";

const [staticData] = await getCollection("staticData");
const { profileName, email, emailIconName, contactSectionButtonText } =
  staticData.data;
---

<Layout>
  <section id="home" class="scroll-m-16 px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6 md:gap-8 xl:max-w-7xl xl:mx-auto">
      <!-- Tarjeta Sobre M铆 -->
      <div
        id="about-me"
        class="mx-auto mb-4 w-full rounded-2xl bg-linear-to-r from-mint-300 to-mint-50 p-[.2rem] dark:from-mint-600 dark:to-mint-200/5 max-md:h-auto"
      >
        <div
          class="group relative z-0 flex h-full w-full flex-col gap-4 rounded-2xl bg-linear-to-tr from-riptide-100 to-white p-4 sm:p-6 md:p-8 transition-all hover:shadow-[0_10px_50px_rgba(13,188,130,0.2)] dark:bg-linear-to-r dark:from-mint-950 dark:to-zinc-950 overflow-hidden"
        >
          <div class="flex items-center max-sm:justify-center gap-4">
            <h1
              class="text-2xl sm:text-3xl md:text-4xl font-black leading-none text-blacktext dark:text-white text-center sm:text-left"
            >
              {profileName} 
            </h1>
          </div>
          <p
            class="text-base sm:text-lg font-medium leading-6 sm:leading-7 text-blacktext dark:text-gray-300 text-justify sm:text-left"
          >
            <span
              class="bg-linear-to-r from-riptide-500 to-mint-500 bg-clip-text font-black text-transparent dark:from-riptide-300 dark:to-mint-200"
              >Ingeniero Civil Industrial</span
            >
            con s贸lida formaci贸n en ciencia y an谩lisis de datos, comprometido con
            la implementaci贸n tecnol贸gica para potenciar procesos productivos a trav茅s
            del uso estrat茅gico de la informaci贸n. Me motiva el
            <span
              class="bg-linear-to-r from-riptide-500 to-mint-500 bg-clip-text font-black text-transparent dark:from-riptide-300 dark:to-mint-200"
              >aprendizaje y la mejora continua</span
            >, ya sea explorando nuevas 谩reas o profundizando en conocimientos
            ya adquiridos.
          </p>
          <div class="mt-4">
            <Button
              link={"mailto:" + email}
              text={contactSectionButtonText}
              iconName={emailIconName}
              class="w-full sm:w-auto"
            />
          </div>
        </div>
      </div>

      <!-- Tarjeta Tech Stack-->
      <div
        id="tech-stack"
        class="mx-auto mb-4 w-full rounded-2xl bg-linear-to-r from-mint-300 to-mint-50 p-[.2rem] hover:to-mint-300/30 dark:from-mint-600 dark:to-mint-200/5 dark:hover:to-mint-600/30 max-md:h-auto"
      >
        <article
          class="group relative z-0 flex h-full w-full flex-col gap-4 sm:gap-6 overflow-hidden rounded-2xl bg-linear-to-tr from-riptide-100 to-mint-100 p-4 sm:p-6 md:p-8 transition hover:shadow-[0_10px_50px_rgba(13,188,130,0.2)] dark:bg-linear-to-r dark:from-mint-900 dark:to-mint-950"
        >
          <div class="flex items-center gap-2 sm:gap-4">
            <Icon
              class="text-xl sm:text-2xl md:text-3xl text-mint-500 dark:text-white"
              name="dashboard"
              aria-hidden="true"
            />
            <Heading text="Tech" textGradient="Stack" level={2} />
          </div>
          <div>
            <Tools />
          </div>
        </article>
      </div>
    </div>
  </section>
  <ListProjects />
</Layout>
